body{
background-image: url('path/to/image.jpg'):
background-repeat:no-repeat;
background-size: cover;
}
heading-container{


h5{
14


    dsplay: flex;
padding:10px;
margin:0;

}

h5{
    15
    dsplay: flex;
    padding:10px;
    margin:0;
   
    
h5{
    16
    dsplay: flex;
    padding:10px;
    margin:0;
   
}
h5{
    17
    dsplay: flex;
    padding:10px;
    margin:0;
   
18
dsplay: flex;
padding:10px;
margin:0;

}
}
box{
border-width: 2px;
border-style: double;
border-color: black;
header{
22
dsplay: flex;
padding:10px;
margin:0;
style:height=3cm;border:3cm
}
header{
    26
    dsplay: flex;
    padding:10px;
    margin:0;
    style:height=3cm;border:3cm
}
}
    